.planet-wrap {
   width: 100%;
   display: flex;
   margin-top: 1%;
   flex-direction: column;
   justify-content: space-between;
   align-self: center;
}

.planet-main {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   .planet-images {
      position: relative;
      width: 25%;
      margin-left: 25%;
      align-self: center;

      #planet-overview {
         width: 100%;
      }

      #planet-geology {
         opacity: 0;
         position: absolute;
         bottom: -8%;
         width: 40%;
         transform: scale(1);
         right: 56%;
         transition: 0.1s ease-in;

         &:hover {
            transform: scale(1.3);
            transition: 0.2s ease-in;
         }
      }
   }
}

[v-cloak] {
   opacity: 0;
   visibility: hidden;
   transition: 0.3s ease;
}

// TABLET
@media only screen and (min-width: 768px) {
   .planet-main {
      justify-content: center;
      flex-direction: column;
      margin-top: 2%;

      .planet-images {
         margin-left: 0;
      }
   }
}
